body {
  display: flex;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
  padding-top: 200px;
  margin: 0;
}

button,
input {
  display: inline-block;
  outline: none;
  padding: 3px;
  margin: 2px;
}

#todo-form {
  display: flex;
  justify-content: center;
}
#todo-list {
  height: 400px;
  overflow: scroll;
}

.hidden {
  display: none;
}

.fake {
  opacity: 0.6;
}
